section.container {
  padding: 0;
  margin: 0;
  min-width: 100vw;
}
table {
  min-width: 100vw;
}
body,
html {
  min-width: 100vw;
  padding: 0;
  margin: 0;
  background: #20dfdf;
}
.frame-img {
  max-width: 150px;
  min-height: 150px;
}
#base {
  border: none;
  min-width: 100%;
  min-height: 100vh;
}
form {
  min-width: 50vw;
}
.title {
  text-align: center;
  font-size: 20px;
  color: #000;
}
.btn {
  border-radius: 12px;
  background-color: #252428;
  color: white;
  padding: 13px 10px;
  font-size: 30px;
}
.shoot {
  background: url(../image/fire.gif) no-repeat;
  src: url(../image/fire.gif);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
}
.idle {
  background: url(../image/main.png) no-repeat;
  src: url(../image/main.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
}
.break {
  background: url(../image/fail.gif) no-repeat;
  src: url(../image/fail.gif;);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
  vertical-align: middle;
}
p,
a {
  font-size: 20px;
  font-family: "VT323";
  src: url("../font/VT323-Regular.ttf");
}
a {
  text-decoration: none;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}
font,
input,
p,
h1 {
  font-family: "VT323";
}
select#bullets {
  color: #ffffff;
  font-size: xx-large;
  padding: 16px 20px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}
@font-face {
  font-family: "VT323";
  src: url("../font/VT323-Regular.ttf");
}
.digital {
  font-family: "VT323";
}
#bullets {
  font-family: "VT323", monospace;
  background: #252428;
  color: #ffffff;
  border: 1px solid #3e3949;
  padding: 3px 10px;
  font-size: 13px;
  border-radius: 2px;
  max-width: 100px auto;
  margin-bottom: 15px;
  background: #222;
  overflow: hidden;
  border-radius: 20px;
  padding: 0;
}
