body{
         background: #20DFDF;
     }
     .title{
         text-align: center;
         font-size: 2.5em;
         color: #000;
     }
     .btn{
         border-radius: 12px;
         background-color: #252428;
         color: white;
         padding: 13px 10px;
         font-size: 30px;
         }
         .shoot {
          background: url(../image/fire.gif) no-repeat;
          src: url(../image/fire.gif);
          background-size: cover;
         background-position: center;
         text-align: center;
         height: 100%;
         width: 100%;
         display: table;
         vertical-align: middle;
     }
     .idle {
          background: url(../image/main.png) no-repeat;
          src: url(../image/main.png);
          background-size: cover;
         background-position: center;
         text-align: center;
         height: 100%;
         width: 100%;
         display: table;
         vertical-align: middle;
     }
     .break {
          background: url(../image/fail.gif) no-repeat;
          src: url(../image/fail.gif;);
          background-size: cover;
         background-position: center;
         text-align: center;
         height: 100%;
         width: 100%;
         display: table;
         vertical-align: middle;
     }
     p {font-size: 50px;
     font-family: 'VT323', monospace;
     }
     a {text-decoration: none;}
     a:link {color: red;}
     a:visited {color: green;}
     a:hover {color: hotpink;}
     a:active {color: blue;}
     font,
     input{
      font-family: 'VT323', monospace;
     }
     select#bullets {
     color: #ffffff;
     font-size: xx-large;
     padding: 0.25rem o.75rem;
     border: 1rem solid transparent;
     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
     }
     #bullets {font-family: 'VT323', monospace;}
     @font-face {
     font-family: "VT323";
     src: url('../font/VT323-Regular.ttf');
     }
     .digital {
     font-family: "VT323";
     }
     #bullets{background:#252428;color:#FFFFFF;border:1px solid #3e3949;padding:3px 10px;font-size:13px;border-radius:2px;max-width:300px auto;margin-bottom:15px;background:#222;overflow:hidden;border-radius:20px;padding:0}
