@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.prime {
  background-image: url('../image/revolver-logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li, 
a, 
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  padding: 30px 1%;
  background: lightblue;
}

.logo {
  position: static;
  cursor: pointer;
  left: 50px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  border: 1px dashed grey;
}

.nav__links {
  list-style: none;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav__links li {
  display: inline-block;
  padding: 0px 10px;
  margin-right: 0px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.btnprime {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btnprime:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

p {
  width: 900px;
  margin: auto;
  font-size: 1em;
  width: 100%;
  height: 100%;
}

h2 {
  position: relative;
  font-size: 10vw;
  color: #FFFFFF;
  -webkit-text-stroke: 0.4vw #800000;
  text-transform: uppercase;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #FFFFFF;
  -webkit-text-stroke: 0.4vw #20DFDF;
  border-right: 2px solid #20DFDF;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
0%,
10%,
100% {
  width: 0;
}
70%,
90% {
  width: 99.7%;
}
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  content: attr(data-text);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardprofile {
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.btn1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

.btn1:hover, 
a:hover {
  opacity: 0.7;
}

@media screen and (max-width:600px){
.container{
  flex-direction: column;
}
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  width: auto;
  height: auto;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

html {
scroll-behavior: smooth;
}
